{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for show in shows %}
    <div class="col">
        <div class="card h-100">
            <div class="card-header bg-primary text-white">
                <h5>{{ show.title }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ show.description|truncatechars:100 }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Date:</strong> {{ show.date|date:"M d, Y H:i" }}
                    </li>
                    <li class="list-group-item">
                        <strong>Venue:</strong> {{ show.venue }}
                    </li>
                    <li class="list-group-item">
                        <strong>Seats:</strong> {{ show.available_seats }} available
                    </li>
                    <li class="list-group-item">
                        <strong>Price:</strong> ${{ show.price_per_seat }}
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="{% url 'tickets:show_detail' show.pk %}" class="btn btn-primary w-100">
                    View Details
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}